.tile {
    width: 200px;
    height: 133px;
    background-image: url('wooden-textured-background.jpg');
    border: 1px solid #8B4513;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Survivant";
    position: relative;
    text-align: center;
}

ul.tiles{
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

#tilesList {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 200px);
    max-width: 1044px;
    align-items: center;
    place-items: center;
    margin: 0 auto;
}
.incorrect {
    background-color: rgba(200, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.correct {
    background-color: rgba(41, 197, 41, 0.5);
    background-blend-mode: multiply;
}


@font-face {
    font-family: "Survivant";
    src: url('survivant.ttf') format("truetype");
}

.tile-logo {
    height: 95%;
    width: 95%;
}

.answer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.game-header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    padding: 10px;
    min-height: 800px;
}

#score{
    font-family: "Survivant";
    font-size: 40px;
    margin:30px;
}

.resultText{
    font-size: 30px;
    margin:10px;
    text-align: center;
    padding-top: 10px;
}

#checkWinButton:disabled {
    background-color: lightgray;
}

.howToList li {
    margin-bottom: 10px;
}

.howToList {
    padding-left: 20px;
}

button {
    font-family: "Survivant";
    font-size: 20px;
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: white;
    margin: 0px 5px;
    border-radius: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1001;
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px; 
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    display: none;
    font-family: 'Arial';
    will-change: transform, opacity;
    border-radius: 10px;
}

.resultsLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}

.card button{
    margin-top:10px;
}

#closeButton {
    font-family: 'Arial';
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#howToCloseButton {
    font-family: 'Arial';
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.card.show {
    display: block; 
    animation: slideUp 0.2s ease-out;
}

@keyframes slideUp {
    from {
        transform: translate3d(-50%, 100%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}

#splash-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    transition: all 1s ease-in-out;
    z-index: 100;
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#splash-page.hide {
    opacity: 0;
    transform: translateY(-110%);
}

#splash-page.show {
    opacity: 100%;
    transform: translateY(0%);
}

.splash-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ddd solid 1px;
    padding: 20px;
    width: 364px;
    border-radius: 10px;
}

.splash-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding-top:20px;
}

.splash-buttons button {
    width: 350px;
}

@media screen and (max-width: 390px) {
    .tile {
        width: 110px;
        height: 73px;
        font-size: 18px;
    }

    #tilesList {
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 110px);
    }

    .three-by-three {
        grid-template-columns: repeat(3, 110px);
    }

    button {
        font-size: 20px;
    } 

    .splash-content {
        font-size: small;
        border: none;
        padding: 0px;
    }   
}

@media screen and (min-width: 390px) and (max-width: 420px){
    .tile {
        width: 120px;
        height: 80px;
        font-size: 18px;
    }

    #tilesList {
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 120px);
    }

    .three-by-three {
        grid-template-columns: repeat(3, 120px);
    }

    button {
        font-size: 20px;
    }
    .splash-content {
        font-size: small;
        border: none;
        padding: 0px;
    }   
}

@media screen and (min-width: 420px) and (max-width: 450px) {
    .tile {
        width: 130px;
        height: 87px;
        font-size: 18px;
    }

    #tilesList {
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 130px);
    }

    .three-by-three {
        grid-template-columns: repeat(3, 130px);
    }

    button {
        font-size: 20px;
    }
}

@media screen and (min-width: 450px) and (max-width: 490px) {
    .tile {
        width: 140px;
        height: 93px;
        font-size: 18px;
    }

    #tilesList {
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .three-by-three {
        grid-template-columns: repeat(3, 140px);
    }

    button {
        font-size: 20px;
    }

}

@media screen and (min-width: 490px) and (max-width: 640px) {
    .tile {
        width: 150px;
        height: 100px;
    }

    #tilesList {
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 150px);
    }

    .three-by-three {
        grid-template-columns: repeat(3, 150px);
    }
}